body {

}

.vertical {
    display: inline-block;
    overflow: visible;
    color: white;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 3);
}